{% extends 'base.html.twig' %}
{% block body %}
    <div class="page"
         data-lists="{{ lists|json_encode }}"
         data-list_names="{{ listNames|json_encode }}"
         id="page_bloc">

        <header class="bar">
            <div class="corner">
                <span v-if="connected === true" class="plug fa fa-2x fa-plug"></span>
                <span v-else>bop</span>
            </div>
            <div id="title">
                <h1>{{ app.user.username }}'s</h1>
            </div>
            <div v-on:click="menuToggle" class="corner menu ">
                <span class="fa fa-2x fa-plus"></span>
            </div>

            <div v-if="openMenu">
                <h2>Nouvelle liste</h2>
                <div>
                    {{ form_start(newListForm) }}
                    {{ form_widget(newListForm) }}
                    {{ form_end(newListForm) }}
                </div>
            </div>
        </header>
        <component v-if="openMenu === false"
                   v-bind:is="currentView"
                   v-bind:place-holder="placeHolder"
                   v-bind:items="items[currentView]"
                   v-bind:connected="connected"
                   v-on:to-parent-item-clicked="itemDelete"
                   v-on:to-parent-form-submit="itemCreate"
                   v-on:to-parent-cross-clicked="listDelete"
                   v-on:to-parent-left-clicked="previousList"
                   v-on:to-parent-right-clicked="nextList"

        >
        </component>
        <footer v-if="openMenu === false" class="bar">
            <form id="itemAddForm" class="el" v-on:submit.prevent="itemCreate">
                <input id="itemInput"
                       v-model="itemInput"
                       v-bind:placeholder="placeHolder"
                       v-bind:style="focusStyle">
                <input type="submit" value="+">
            </form>
        </footer>
    </div>
{% endblock %}

