{% extends 'base.html.twig' %}
{% block body %}

    <div class="page"
         data-lists="{{ lists|json_encode }}"
         data-list_names="{{ listNames|json_encode }}"
         data-user_id="{{ userId }}"
         id="page_bloc">
        <header>
            <div>
                <span v-if="connected" class="plug fa fa-2x fa-plug"></span>
                <span v-else>
                    <a href="{{ path('home') }}"><span class="fa fa-2x fa-sync"></span> </a>
                </span>
            </div>
            <div>
                <h1><a href="{{ path('home') }}">{{ app.user.username }}'s</a></h1>
            </div>
            <div v-on:click="menuToggle" class="plus hoverable">
                <span class="fa fa-2x fa-plus"></span>
            </div>

        </header>

        <div v-if="openMenu || noList">
            <div id="listAddForm" class="middle-form">
                <h2>Nouvelle liste</h2>
                <div v-on:submit.prevent="listAdd">
                    {{ form_start(newListForm) }}
                    {{ form_widget(newListForm.name) }}
                    {{ form_end(newListForm) }}
                </div>
            </div>
        </div>
        <section v-else
                   v-bind:is="currentView"
                   v-bind:place-holder="placeHolder"
                   v-bind:items="lists[currentView]"
                   v-on:to-parent-item-clicked="itemDelete"
                   v-on:to-parent-form-submit="itemAdd"
                   v-on:to-parent-trash-clicked="listDelete"
                   v-on:to-parent-left-clicked="previousList"
                   v-on:to-parent-right-clicked="nextList"

        >
        </section>
        <footer class="">
            <form v-if="!(openMenu || noList)" class="itemAddForm" v-on:submit.prevent="itemAdd">
                <input
                        id="itemInput"
                        v-model="itemInput"
                        v-bind:placeholder="placeHolder"
                        pattern="[éèçàêâ 'a-zA-Z0-9._]+"
                        title="Caractères alphanumériques"
                >
                <input type="submit" value="+">
            </form>
        </footer>
    </div>
{% endblock %}

