{% extends 'base.html.twig' %}
{% block body %}
    {{ dump(initialArticles) }}
    {{ parent() }}
<section data-initialArticles="{{ initialArticles }}" id="section1">

    <h3 v-if="connected">connecté</h3>
    <form v-on:submit.prevent="articleCreate">
        <input
                v-model="articleInput"
                v-bind:placeHolder="placeHolder"
                v-bind:style="myStyle">
    </form>
    <ul>
        <li v-on:click="articleDelete" v-for="(article, index) of articles" v-bind:id="article.id" >${ article.name }</li>
    </ul>

</section>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/todo.js') }}"></script>
    {% endblock %}
